*.suo
*.user
*.csproj.user
*.sln.cache
*.cache
*.resharper
*.ReSharper
*.resharperoptions
_ReSharper.*
*.vs10x
*.DotSettings
*.exe
*.dll
*.obj
*.pdb
*.HxS
*.chm
*.xml
*.mshc
*.orig
*.log
bin
Bin
obj
_Build
_Work
.vs
.idea
User.Directory.Build.props