<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="latest">
  <PropertyGroup Label="User defined variables">
    <DoNugetFeedApiKey>Put key Here</DoNugetFeedApiKey>
    <DoNugetFeedUrl>Put url here</DoNugetFeedUrl>
  </PropertyGroup>
</Project>
