<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- No elements, all names should be default-->
  <Xtensive.Orm.Localization.Xml.Empty>
  </Xtensive.Orm.Localization.Xml.Empty>

  <!--Names are empty, all names should be default-->
  <Xtensive.Orm.Localization.Xml.NameEmpty>
    <DefaultCulture></DefaultCulture>
  </Xtensive.Orm.Localization.Xml.NameEmpty>

  <Xtensive.Orm.Localization.Xml.NameDefined>
    <DefaultCulture>es-ES</DefaultCulture>
  </Xtensive.Orm.Localization.Xml.NameDefined>

  <Xtensive.Orm.Localization.Xml.FaultyValue>
    <DefaultCulture>ololo</DefaultCulture>
  </Xtensive.Orm.Localization.Xml.FaultyValue>

  <!-- Different namings schemes of elements -->
  <!-- LC - lower case -->
  <!-- UC - upper case -->
  <!-- CC - camel case -->
  <!-- PC - pascal case-->
  <Xtensive.Orm.Localization.Xml.Naming.LC>
    <defaultculture>es-ES</defaultculture>
  </Xtensive.Orm.Localization.Xml.Naming.LC>

  <Xtensive.Orm.Localization.Xml.Naming.UC>
    <DEFAULTCULTURE>es-ES</DEFAULTCULTURE>
  </Xtensive.Orm.Localization.Xml.Naming.UC>

  <Xtensive.Orm.Localization.Xml.Naming.CC>
    <defaultCulture>es-ES</defaultCulture>
  </Xtensive.Orm.Localization.Xml.Naming.CC>

  <Xtensive.Orm.Localization.Xml.Naming.PC>
    <DefaultCulture>es-ES</DefaultCulture>
  </Xtensive.Orm.Localization.Xml.Naming.PC>

  <!-- Cases of mistyping of element names -->
  <!-- LC - lower case -->
  <!-- UC - upper case -->
  <!-- CC - camel case -->
  <!-- PC - pascal case-->
  <Xtensive.Orm.Localization.Xml.Mistype.LC>
    <defailtculture>es-ES</defailtculture>
  </Xtensive.Orm.Localization.Xml.Mistype.LC>

  <Xtensive.Orm.Localization.Xml.Mistype.UC>
    <DEFAILTCULTURE>es-ES</DEFAILTCULTURE>
  </Xtensive.Orm.Localization.Xml.Mistype.UC>

  <Xtensive.Orm.Localization.Xml.Mistype.CC>
    <defailtCulture>es-ES</defailtCulture>
  </Xtensive.Orm.Localization.Xml.Mistype.CC>

  <Xtensive.Orm.Localization.Xml.Mistype.PC>
    <DefailtCulture>es-ES</DefailtCulture>
  </Xtensive.Orm.Localization.Xml.Mistype.PC>

  <!-- Cases of configuration when service name is represented by Name child node -->
  <Xtensive.Orm.Localization.Xml.NameNode.NameEmpty>
    <DefaultCulture>
      <Name></Name>
    </DefaultCulture>
  </Xtensive.Orm.Localization.Xml.NameNode.NameEmpty>

  <Xtensive.Orm.Localization.Xml.NameNode.Espaniol>
    <DefaultCulture>
      <Name>es-ES</Name>
    </DefaultCulture>
  </Xtensive.Orm.Localization.Xml.NameNode.Espaniol>

  <Xtensive.Orm.Localization.Xml.NameNode.FaultyValue>
    <DefaultCulture>
      <Name>ololo</Name>
    </DefaultCulture>
  </Xtensive.Orm.Localization.Xml.NameNode.FaultyValue>

  <Xtensive.Orm.Localization.Xml.NameNode.Naming.LC>
    <DefaultCulture>
      <name>es-ES</name>
    </DefaultCulture>
  </Xtensive.Orm.Localization.Xml.NameNode.Naming.LC>

  <Xtensive.Orm.Localization.Xml.NameNode.Naming.UC>
    <DefaultCulture>
      <NAME>es-ES</NAME>
    </DefaultCulture>
  </Xtensive.Orm.Localization.Xml.NameNode.Naming.UC>

  <Xtensive.Orm.Localization.Xml.NameNode.Naming.CC>
    <DefaultCulture>
      <naMe>es-ES</naMe>
    </DefaultCulture>
  </Xtensive.Orm.Localization.Xml.NameNode.Naming.CC>

  <Xtensive.Orm.Localization.Xml.NameNode.Naming.PC>
    <DefaultCulture>
      <NaMe>es-ES</NaMe>
    </DefaultCulture>
  </Xtensive.Orm.Localization.Xml.NameNode.Naming.PC>
  
  
  <!-- combinations of Xml-specifit cases, mostly old-fashion attributes -->
  <Xtensive.Orm.Localization.NameAttribute.NameEmpty>
    <defaultCulture name="" />
  </Xtensive.Orm.Localization.NameAttribute.NameEmpty>

  <Xtensive.Orm.Localization.NameAttribute.None>
    <defaultCulture />
  </Xtensive.Orm.Localization.NameAttribute.None>

  <Xtensive.Orm.Localization.NameAttribute.Defined>
    <defaultCulture name="es-ES" />
  </Xtensive.Orm.Localization.NameAttribute.Defined>

  <Xtensive.Orm.Localization.NameAttribute.FaultyValue>
    <defaultCulture name="ololo" />
  </Xtensive.Orm.Localization.NameAttribute.FaultyValue>

  <Xtensive.Orm.Localization.NameAttribute.LC>
    <defaultculture name="es-ES" />
  </Xtensive.Orm.Localization.NameAttribute.LC>

  <Xtensive.Orm.Localization.NameAttribute.UC>
    <DEFAULTCULTURE name="es-ES" />
  </Xtensive.Orm.Localization.NameAttribute.UC>

  <Xtensive.Orm.Localization.NameAttribute.PC>
    <DefaultCulture name="es-ES" />
  </Xtensive.Orm.Localization.NameAttribute.PC>

</configuration>