<?xml version="1.0" encoding="utf-8"?>
<Xtensive.Orm xmlns="http://dataobjects.net/schemas/appconfig/">
  <logging>
    <log source="*" target="DebugOnlyConsole" />
  </logging>
  <domains>
    <!-- ConnectionUrl based domain configurations -->

    <domain name="default"
            connectionUrl="sqlserver://dotest:dotest@localhost/DO-Tests?MultipleActiveResultSets=True" />

    <domain name="mssql2005"
            connectionUrl="sqlserver://localhost\DO_SQL2005/DO-Tests?MultipleActiveResultSets=True" />

    <domain name="mssql2008"
            connectionUrl="sqlserver://localhost\DO_SQL2008/DO-Tests?MultipleActiveResultSets=True" />

    <domain name="mssql2008r2"
            connectionUrl="sqlserver://localhost\DO_SQL2008R2/DO-Tests?MultipleActiveResultSets=True" />
            
    <domain name="mssql2012"
            connectionUrl="sqlserver://localhost\DO_SQL2012/DO-Tests?MultipleActiveResultSets=True" />

    <domain name="mssql2014"
            connectionUrl="sqlserver://localhost\DO_SQL2014/DO-Tests?MultipleActiveResultSets=True" />

    <domain name="mssql2016"
            connectionUrl="sqlserver://localhost\DO_SQL2016/DO-Tests?MultipleActiveResultSets=True" />

    <domain name="mssql2017"
            connectionUrl="sqlserver://localhost\DO_SQL2017/DO-Tests?MultipleActiveResultSets=True" />

    <domain name="mssql2019"
            connectionUrl="sqlserver://localhost\DO_SQL2019/DO-Tests?MultipleActiveResultSets=True" />

    <domain name="pgsql83"
            connectionUrl="postgresql://dotest:dotest@localhost:5483/dotest" />

    <domain name="pgsql84"
            connectionUrl="postgresql://dotest:dotest@localhost:5484/dotest" />

    <domain name="pgsql90"
            connectionUrl="postgresql://dotest:dotest@localhost:5490/dotest" />

    <domain name="pgsql91"
            connectionUrl="postgresql://dotest:dotest@localhost:5491/dotest" />

    <domain name="pgsql92"
            connectionUrl="postgresql://dotest:dotest@localhost:5492/dotest" />

    <domain name="pgsql96"
            connectionUrl="postgresql://dotest:dotest@localhost:5496/dotest" />

    <domain name="pgsql100"
            connectionUrl="postgresql://dotest:dotest@localhost:54100/dotest" />

    <domain name="pgsql110"
            connectionUrl="postgresql://dotest:dotest@localhost:54110/dotest" />

    <domain name="pgsql120"
            connectionUrl="postgresql://dotest:dotest@localhost:54120/dotest" />

    <domain name="pgsql130"
            connectionUrl="postgresql://dotest:dotest@localhost:54130/dotest" />

    <domain name="oracle10"
            connectionUrl="oracle://dotest:dotest@localhost:5510/ora10" />

    <domain name="oracle11"
            connectionUrl="oracle://dotest:dotest@localhost:5511/ora11" />

    <domain name="mysql55"
            connectionUrl="mysql://dotest:dotest@localhost:3355/dotest" />

    <domain name="mysql56"
            connectionUrl="mysql://dotest:dotest@localhost:3356/dotest" />

    <domain name="mysql57"
            connectionUrl="mysql://dotest:dotest@localhost:3357/dotest" />

    <domain name="mysql80"
            connectionUrl="mysql://dotest:dotest@localhost:3380/dotest" />

    <domain name="firebird25" provider="firebird"
            connectionString="User=dotest;Password=dotest;Database=dotest;DataSource=localhost;Port=3050;Dialect=3;Charset=UTF8;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0" />

    <domain name="sqlite3"
            connectionUrl="sqlite:///DO-Tests.db3" />

    <!-- ConnectionString based domain configurations -->

    <domain name="defaultcs" provider="sqlserver"
            connectionString="User ID=dotest;Password=dotest;Data Source=localhost;Initial Catalog=DO-Tests;MultipleActiveResultSets=True" />

    <domain name="mssql2005cs" provider="sqlserver"
            connectionString="Data Source=localhost\DO_SQL2005;Initial Catalog=DO-Tests;Integrated Security=True;MultipleActiveResultSets=True" />

    <domain name="mssql2008cs" provider="sqlserver"
            connectionString="Data Source=localhost\DO_SQL2008;Initial Catalog=DO-Tests;Integrated Security=True;MultipleActiveResultSets=True" />

    <domain name="mssql2008r2cs" provider="sqlserver"
            connectionString="Data Source=localhost\DO_SQL2008R2;Initial Catalog=DO-Tests;Integrated Security=True;MultipleActiveResultSets=True" />

    <domain name="mssql2012cs" provider="sqlserver"
            connectionString="Data Source=localhost\DO_SQL2012;Initial Catalog=DO-Tests;Integrated Security=True;MultipleActiveResultSets=True" />

    <domain name="mssql2014cs" provider="sqlserver"
            connectionString="Data Source=localhost\DO_SQL2014;Initial Catalog=DO-Tests;Integrated Security=True;MultipleActiveResultSets=True" />

    <domain name="mssql2016cs" provider="sqlserver"
            connectionString="Data Source=localhost\DO_SQL2016;Initial Catalog=DO-Tests;Integrated Security=True;MultipleActiveResultSets=True" />

    <domain name="mssql2017cs" provider="sqlserver"
            connectionString="Data Source=localhost\DO_SQL2017;Initial Catalog=DO-Tests;Integrated Security=True;MultipleActiveResultSets=True" />

    <domain name="mssql2019cs" provider="sqlserver"
            connectionString="Data Source=localhost\DO_SQL2019;Initial Catalog=DO-Tests;Integrated Security=True;MultipleActiveResultSets=True" />

    <domain name="pgsql83cs" provider="postgresql"
            connectionString="HOST=localhost;PORT=5483;DATABASE=dotest;USER ID=dotest;PASSWORD=dotest" />

    <domain name="pgsql84cs" provider="postgresql"
            connectionString="HOST=localhost;PORT=5484;DATABASE=dotest;USER ID=dotest;PASSWORD=dotest" />

    <domain name="pgsql90cs" provider="postgresql"
            connectionString="HOST=localhost;PORT=5490;DATABASE=dotest;USER ID=dotest;PASSWORD=dotest" />

    <domain name="pgsql91cs" provider="postgresql"
            connectionString="HOST=localhost;PORT=5491;DATABASE=dotest;USER ID=dotest;PASSWORD=dotest" />

    <domain name="pgsql92cs" provider="postgresql"
            connectionString="HOST=localhost;PORT=5492;DATABASE=dotest;USER ID=dotest;PASSWORD=dotest" />

    <domain name="pgsql96cs" provider="postgresql"
            connectionString="HOST=localhost;PORT=5496;DATABASE=dotest;USER ID=dotest;PASSWORD=dotest" />

    <domain name="pgsql100cs" provider="postgresql"
            connectionString="HOST=localhost;PORT=54100;DATABASE=dotest;USER ID=dotest;PASSWORD=dotest" />

    <domain name="pgsql110cs" provider="postgresql"
            connectionString="HOST=localhost;PORT=54110;DATABASE=dotest;USER ID=dotest;PASSWORD=dotest" />

    <domain name="pgsql120cs" provider="postgresql"
            connectionString="HOST=localhost;PORT=54120;DATABASE=dotest;USER ID=dotest;PASSWORD=dotest" />

    <domain name="pgsql130cs" provider="postgresql"
            connectionString="HOST=localhost;PORT=54130;DATABASE=dotest;USER ID=dotest;PASSWORD=dotest" />

    <domain name="oracle10cs" provider="oracle"
            connectionString="DATA SOURCE=&quot;(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=5510))(CONNECT_DATA=(SERVICE_NAME=ora10)))&quot;;USER ID=dotest;PASSWORD=dotest" />

    <domain name="oracle11cs" provider="oracle"
            connectionString="DATA SOURCE=&quot;(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=5511))(CONNECT_DATA=(SERVICE_NAME=ora11)))&quot;;USER ID=dotest;PASSWORD=dotest" />

    <domain name="mysql55cs" provider="mysql"
            connectionString="Server=localhost;Port=3355;Database=dotest;Uid=dotest;Pwd=dotest" />

    <domain name="mysql56cs" provider="mysql"
            connectionString="Server=localhost;Port=3356;Database=dotest;Uid=dotest;Pwd=dotest" />

    <domain name="mysql57cs" provider="mysql"
            connectionString="Server=localhost;Port=3357;Database=dotest;Uid=dotest;Pwd=dotest" />

    <domain name="mysql80cs" provider="mysql"
            connectionString="Server=localhost;Port=3380;Database=dotest;Uid=dotest;Pwd=dotest" />

    <domain name="firebird25cs" provider="firebird"
            connectionString="User=dotest;Password=dotest;Database=dotest;DataSource=localhost;Port=3050;Dialect=3;Charset=UTF8;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0" />
            
    <domain name="sqlite3cs" provider="sqlite"
            connectionString="Data Source=DO-Tests.db3" />
  </domains>
</Xtensive.Orm>
