<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- No elements, all names should be default-->
  <Xtensive.Orm.Reprocessing.Xml.Empty>
  </Xtensive.Orm.Reprocessing.Xml.Empty>

  <!--Names are empty, all names should be default-->
  <Xtensive.Orm.Reprocessing.Xml.AllEmpty>
    <DefaultTransactionOpenMode></DefaultTransactionOpenMode>
    <DefaultExecuteStrategy></DefaultExecuteStrategy>
  </Xtensive.Orm.Reprocessing.Xml.AllEmpty>

  <Xtensive.Orm.Reprocessing.Xml.OnlyTM.Empty>
    <DefaultTransactionOpenMode></DefaultTransactionOpenMode>
  </Xtensive.Orm.Reprocessing.Xml.OnlyTM.Empty>
  <Xtensive.Orm.Reprocessing.Xml.OnlyTM.Auto>
    <DefaultTransactionOpenMode>Auto</DefaultTransactionOpenMode>
  </Xtensive.Orm.Reprocessing.Xml.OnlyTM.Auto>
  <Xtensive.Orm.Reprocessing.Xml.OnlyTM.New>
    <DefaultTransactionOpenMode>New</DefaultTransactionOpenMode>
  </Xtensive.Orm.Reprocessing.Xml.OnlyTM.New>
  <Xtensive.Orm.Reprocessing.Xml.OnlyTM.Default>
    <DefaultTransactionOpenMode>Default</DefaultTransactionOpenMode>
  </Xtensive.Orm.Reprocessing.Xml.OnlyTM.Default>

  <Xtensive.Orm.Reprocessing.Xml.OnlyStrategy.Empty>
    <DefaultExecuteStrategy></DefaultExecuteStrategy>
  </Xtensive.Orm.Reprocessing.Xml.OnlyStrategy.Empty>

  <Xtensive.Orm.Reprocessing.Xml.OnlyStrategy.HandleReprocessible>
    <DefaultExecuteStrategy>Xtensive.Orm.Reprocessing.HandleReprocessableExceptionStrategy, Xtensive.Orm.Reprocessing</DefaultExecuteStrategy>
  </Xtensive.Orm.Reprocessing.Xml.OnlyStrategy.HandleReprocessible>

  <Xtensive.Orm.Reprocessing.Xml.OnlyStrategy.HandleUnique>
    <DefaultExecuteStrategy>Xtensive.Orm.Reprocessing.HandleUniqueConstraintViolationStrategy, Xtensive.Orm.Reprocessing</DefaultExecuteStrategy>
  </Xtensive.Orm.Reprocessing.Xml.OnlyStrategy.HandleUnique>

  <Xtensive.Orm.Reprocessing.Xml.OnlyStrategy.NonExistent>
    <DefaultExecuteStrategy>Xtensive.Orm.Reprocessing.DummyStrategy, Xtensive.Orm.Reprocessing</DefaultExecuteStrategy>
  </Xtensive.Orm.Reprocessing.Xml.OnlyStrategy.NonExistent>
  

  <!-- Different namings schemes of elements -->
  <!-- LC - lower case -->
  <!-- UC - upper case -->
  <!-- CC - camel case -->
  <!-- PC - pascal case-->
  <Xtensive.Orm.Reprocessing.Xml.Naming.LC>
    <defaulttransactionopenmode>Auto</defaulttransactionopenmode>
    <defaultexecutestrategy>Xtensive.Orm.Reprocessing.HandleUniqueConstraintViolationStrategy, Xtensive.Orm.Reprocessing</defaultexecutestrategy>
  </Xtensive.Orm.Reprocessing.Xml.Naming.LC>

  <Xtensive.Orm.Reprocessing.Xml.Naming.UC>
    <DEFAULTTRANSACTIONOPENMODE>Auto</DEFAULTTRANSACTIONOPENMODE>
    <DEFAULTEXECUTESTRATEGY>Xtensive.Orm.Reprocessing.HandleUniqueConstraintViolationStrategy, Xtensive.Orm.Reprocessing</DEFAULTEXECUTESTRATEGY>
  </Xtensive.Orm.Reprocessing.Xml.Naming.UC>

  <Xtensive.Orm.Reprocessing.Xml.Naming.CC>
    <defaultTransactionOpenMode>Auto</defaultTransactionOpenMode>
    <defaultExecuteStrategy>Xtensive.Orm.Reprocessing.HandleUniqueConstraintViolationStrategy, Xtensive.Orm.Reprocessing</defaultExecuteStrategy>
  </Xtensive.Orm.Reprocessing.Xml.Naming.CC>

  <Xtensive.Orm.Reprocessing.Xml.Naming.PC>
    <DefaultTransactionOpenMode>Auto</DefaultTransactionOpenMode>
    <DefaultExecuteStrategy>Xtensive.Orm.Reprocessing.HandleUniqueConstraintViolationStrategy, Xtensive.Orm.Reprocessing</DefaultExecuteStrategy>
  </Xtensive.Orm.Reprocessing.Xml.Naming.PC>

  <!-- Cases of mistyping of element names -->
  <!-- LC - lower case -->
  <!-- UC - upper case -->
  <!-- CC - camel case -->
  <!-- PC - pascal case-->
  <Xtensive.Orm.Reprocessing.Xml.Mistype.LC>
    <defaultttransactionopenmode>Auto</defaultttransactionopenmode>
    <defaulttexecutestrategy>Xtensive.Orm.Reprocessing.HandleUniqueConstraintViolationStrategy, Xtensive.Orm.Reprocessing</defaulttexecutestrategy>
  </Xtensive.Orm.Reprocessing.Xml.Mistype.LC>

  <Xtensive.Orm.Reprocessing.Xml.Mistype.UC>
    <DEFAULTTTRANSACTIONOPENMODE>Auto</DEFAULTTTRANSACTIONOPENMODE>
    <DEFAULTTEXECUTESTRATEGY>Xtensive.Orm.Reprocessing.HandleUniqueConstraintViolationStrategy, Xtensive.Orm.Reprocessing</DEFAULTTEXECUTESTRATEGY>
  </Xtensive.Orm.Reprocessing.Xml.Mistype.UC>

  <Xtensive.Orm.Reprocessing.Xml.Mistype.CC>
    <defaultTtransactionOpenMode>Auto</defaultTtransactionOpenMode>
    <defaulttExecuteStrategy>Xtensive.Orm.Reprocessing.HandleUniqueConstraintViolationStrategy, Xtensive.Orm.Reprocessing</defaulttExecuteStrategy>
  </Xtensive.Orm.Reprocessing.Xml.Mistype.CC>

  <Xtensive.Orm.Reprocessing.Xml.Mistype.PC>
    <DefaultTtransactionOpenMode>Auto</DefaultTtransactionOpenMode>
    <DefaulttExecuteStrategy>Xtensive.Orm.Reprocessing.HandleUniqueConstraintViolationStrategy, Xtensive.Orm.Reprocessing</DefaulttExecuteStrategy>
  </Xtensive.Orm.Reprocessing.Xml.Mistype.PC>



  <!-- combinations of Xml-specifit cases, mostly old-fashion attributes -->
  <Xtensive.Orm.Reprocessing.Xml.EmptyNodes>
    <DefaultTtransactionOpenMode/>
    <DefaulttExecuteStrategy />
  </Xtensive.Orm.Reprocessing.Xml.EmptyNodes>

  <Xtensive.Orm.Reprocessing.Attributes.EmptyValues
    defaultTransactionOpenMode=""
    defaultExecuteStrategy="" />

  <Xtensive.Orm.Reprocessing.Attributes.EmptyTMOnly
    defaultTransactionOpenMode="" />

  <Xtensive.Orm.Reprocessing.Attributes.EmptyStrategyOnly
    defaultExecuteStrategy="" />

  <Xtensive.Orm.Reprocessing.Attributes.All
    defaultTransactionOpenMode="Auto"
    defaultExecuteStrategy="Xtensive.Orm.Reprocessing.HandleUniqueConstraintViolationStrategy, Xtensive.Orm.Reprocessing" />

  <Xtensive.Orm.Reprocessing.Attributes.OnlyTM
    defaultTransactionOpenMode="Auto" />

  <Xtensive.Orm.Reprocessing.Attributes.OnlyStrategy
    defaultExecuteStrategy="Xtensive.Orm.Reprocessing.HandleUniqueConstraintViolationStrategy, Xtensive.Orm.Reprocessing" />

  <!-- not compatible with ConfigurationManager style structute -->
  <Xtensive.Orm.Reprocessing.Attributes.LC
    defaulttransactionopenmode="Auto"
    defaultExecuteStrategy="Xtensive.Orm.Reprocessing.HandleUniqueConstraintViolationStrategy, Xtensive.Orm.Reprocessing" />

  <!-- not compatible with ConfigurationManager style structute -->
  <Xtensive.Orm.Reprocessing.Attributes.UC
    DEFAULTTRANSACTIONOPENMODE="Auto"
    DEFAULTEXECUTESTRATEGY="Xtensive.Orm.Reprocessing.HandleUniqueConstraintViolationStrategy, Xtensive.Orm.Reprocessing" />

  <!-- not compatible with ConfigurationManager style structute -->
  <Xtensive.Orm.Reprocessing.Attributes.PC
    DefaultTransactionOpenMode="Auto"
    DefaultExecuteStrategy="Xtensive.Orm.Reprocessing.HandleUniqueConstraintViolationStrategy, Xtensive.Orm.Reprocessing" />
  
</configuration>