<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AppConfigTest" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm"/>
    <section name="Xtensive.Orm" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm"/>
    <section name="ServicesTest" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <Xtensive.Orm configSource="Orm.config"/>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5timestamp/%-4.16thread %5level %-24logger %property{indentString}%message%newline"/>
      </layout>
    </appender>
    <appender name="NullAppender" type="log4net.Appender.ForwardingAppender">
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="Error.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="Error"/>
      <appender-ref ref="FileAppender"/>
    </root>
    <logger name="Storage" additivity="false">
      <level value="ERROR"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="Storage.Tests" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="Core.Diagnostics" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="Console" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="Null" additivity="false">
      <appender-ref ref="NullAppender"/>
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
