<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AppConfigTest" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm"/>
    <section name="Xtensive.Orm" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm"/>
    <section name="ServicesTest" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <Xtensive.Orm>
    <domains>
      <domain name="MyDomain" upgradeMode="Upgrade" connectionUrl="sqlserver://localhost/MyDatabase">
        <types>
          <add assembly="MyAssembly" namespace="MyProduct.Model"/>
        </types>
      </domain>

      <domain name="MyDomain-COnnectionString" upgradeMode="Upgrade" provider="sqlserver" connectionString="sqlserver://localhost/MyDatabase">
        <types>
          <add assembly="MyAssembly" namespace="MyProduct.Model"/>
        </types>
      </domain>

      <domain name="SessionConfigurationTestDomain" upgradeMode="Recreate" connectionUrl="memory://localhost/MyTests">
        <sessions>
          <session name="TestSession" batchSize="25" isolationLevel="ReadCommitted" cacheSize="1000"/>
        </sessions>
      </domain>

      <domain name="memory" connectionUrl="memory://localhost/DO40-Tests" upgradeMode="Recreate"/>
      <domain name="mssql2005" connectionUrl="sqlserver://localhost/DO40-Tests" upgradeMode="Recreate"/>
      <domain name="pgsql80" connectionUrl="postgresql://do4test:do4testpwd@127.0.0.1:8032/do40test?Encoding=Unicode" upgradeMode="Recreate"/>
      <domain name="pgsql82" connectionUrl="postgresql://do4test:do4testpwd@127.0.0.1:8232/do40test?Encoding=Unicode" upgradeMode="Recreate"/>
      <domain name="pgsql83" connectionUrl="postgresql://do4test:do4testpwd@127.0.0.1:8332/do40test?Encoding=Unicode" upgradeMode="Recreate"/>
      <!-- Same as 8.3 for now -->
      <domain name="pgsql" connectionUrl="postgresql://do4test:do4testpwd@127.0.0.1:8332/do40test?Encoding=Unicode" upgradeMode="Recreate"/>
      <!-- Example with connection string -->
      <domain name="mssql2005cs" provider="sqlserver" connectionString="Data Source=localhost; Initial Catalog=DO40-Tests; Integrated Security=True; MultipleActiveResultSets=true;" upgradeMode="Recreate"/>
    </domains>
  </Xtensive.Orm>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5timestamp/%-4.16thread %5level %-24logger %property{indentString}%message%newline"/>
      </layout>
    </appender>
    <appender name="NullAppender" type="log4net.Appender.ForwardingAppender">
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="Error.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="Error"/>
      <appender-ref ref="FileAppender"/>
    </root>
    <logger name="Storage" additivity="false">
      <level value="ERROR"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="Storage.Tests" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="Core.Diagnostics" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="Console" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="Null" additivity="false">
      <appender-ref ref="NullAppender"/>
    </logger>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
