<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Xtensive.Diagnostics" type="Xtensive.Diagnostics.Configuration.ConfigurationSection, Xtensive.Orm"/>
    <section name="Xtensive.IoC" type="Xtensive.IoC.Configuration.ConfigurationSection, Xtensive.Orm"/>
  </configSections>
  <Xtensive.Diagnostics>
    <logs>
      <log name="" events="All" provider="Console" format="Simple"/>
      <log name="Core" provider="Console" format="Simple"/>
      <log name="Core.Diagnostics" provider="Console" format="Simple"/>
    </logs>
  </Xtensive.Diagnostics>
  <Xtensive.IoC>
    <containers>
      <container>
        <explicit>
          <add type="Xtensive.Orm.Tests.Core.IoC.IPrintService, Xtensive.Orm.Tests.Core" mapTo="Xtensive.Orm.Tests.Core.IoC.ConsoleService, Xtensive.Orm.Tests.Core" singleton="true" name="Console"/>
          <add type="Xtensive.Orm.Tests.Core.IoC.IPrintService, Xtensive.Orm.Tests.Core" mapTo="Xtensive.Orm.Tests.Core.IoC.DebugService, Xtensive.Orm.Tests.Core"/>
        </explicit>
        <auto>
          <add type="Xtensive.Orm.Tests.Core.IoC.NamedAutoDebugService, Xtensive.Orm.Tests.Core"/>
          <add type="Xtensive.Orm.Tests.Core.IoC.SelfConsumer, Xtensive.Orm.Tests.Core"/>
        </auto>
      </container>
      <container name="second">
        <explicit>
          <add type="Xtensive.Orm.Tests.Core.IoC.IPrintService, Xtensive.Orm.Tests.Core" mapTo="Xtensive.Orm.Tests.Core.IoC.ConsoleService, Xtensive.Orm.Tests.Core"/>
          <add type="Xtensive.Orm.Tests.Core.IoC.IPrintService, Xtensive.Orm.Tests.Core" mapTo="Xtensive.Orm.Tests.Core.IoC.DebugService, Xtensive.Orm.Tests.Core" singleton="true" name="Debug"/>
        </explicit>
      </container>
    </containers>
  </Xtensive.IoC>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
