<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="LoggingConfiguration" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm"/>
    <section name="Xtensive.Orm" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm"/>
    <section name="Xtensive.IoC" type="Xtensive.IoC.Configuration.ConfigurationSection, Xtensive.Orm"/>
  </configSections>
  <Xtensive.Orm>
    <logging>
      <log source="*" target="Console"/>
      <log source="SomeLogName" target="DebugOnlyConsole"/>
      <log source="Xtensive.Orm, Xtensive.Orm.Upgrade, Xtensive.Orm.Building, Xtensive.Orm.Sql, Xtensive.Orm.Core, Xtensive.Orm.Tests" target="Log.txt"/>
    </logging>
  </Xtensive.Orm>
  <LoggingConfiguration>
    <logging>
      <log source="*" target="Console"/>
      <log source="SomeLogName" target="DebugOnlyConsole"/>
      <log source="FirstLogName,SecondLogName" target="d:\log.txt"/>
      <log source="LogName, AnotherLogName" target ="Console"/>
      <log source="FileLog" target="log.txt"/>
      <log source="NullLog" target="None"/>
      <log source="Trash" target="skjdhfjsdf sdfsdfksjdghj fgdfg"/>
    </logging>
  </LoggingConfiguration>
  <Xtensive.IoC>
    <containers>
      <container>
        <explicit>
          <add type="Xtensive.Orm.Tests.Core.IoC.IPrintService, Xtensive.Orm.Tests.Core" mapTo="Xtensive.Orm.Tests.Core.IoC.ConsoleService, Xtensive.Orm.Tests.Core" singleton="true" name="Console"/>
          <add type="Xtensive.Orm.Tests.Core.IoC.IPrintService, Xtensive.Orm.Tests.Core" mapTo="Xtensive.Orm.Tests.Core.IoC.DebugService, Xtensive.Orm.Tests.Core"/>
        </explicit>
        <auto>
          <add type="Xtensive.Orm.Tests.Core.IoC.NamedAutoDebugService, Xtensive.Orm.Tests.Core"/>
          <add type="Xtensive.Orm.Tests.Core.IoC.SelfConsumer, Xtensive.Orm.Tests.Core"/>
        </auto>
      </container>
      <container name="second">
        <explicit>
          <add type="Xtensive.Orm.Tests.Core.IoC.IPrintService, Xtensive.Orm.Tests.Core" mapTo="Xtensive.Orm.Tests.Core.IoC.ConsoleService, Xtensive.Orm.Tests.Core"/>
          <add type="Xtensive.Orm.Tests.Core.IoC.IPrintService, Xtensive.Orm.Tests.Core" mapTo="Xtensive.Orm.Tests.Core.IoC.DebugService, Xtensive.Orm.Tests.Core" singleton="true" name="Debug"/>
        </explicit>
      </container>
    </containers>
  </Xtensive.IoC>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
