<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Xtensive.Orm" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm" />
    <section name="Xtensive.Orm.Security.WithName" type="Xtensive.Orm.Security.Configuration.ConfigurationSection, Xtensive.Orm.Security" />
    <section name="Xtensive.Orm.Security.WithoutName" type="Xtensive.Orm.Security.Configuration.ConfigurationSection, Xtensive.Orm.Security" />
    <section name="Xtensive.Orm.Security.AllDeclared" type="Xtensive.Orm.Security.Configuration.ConfigurationSection, Xtensive.Orm.Security" />
    <section name="Xtensive.Orm.Security.Empty" type="Xtensive.Orm.Security.Configuration.ConfigurationSection, Xtensive.Orm.Security" />
    <section name="Xtensive.Orm.Security" type="Xtensive.Orm.Security.Configuration.ConfigurationSection, Xtensive.Orm.Security" />
  </configSections>
  <Xtensive.Orm configSource="Orm.config"/>
  <Xtensive.Orm.Security.WithName>
    <hashingService name="md5"/>
  </Xtensive.Orm.Security.WithName>
  <Xtensive.Orm.Security.WithoutName>
    <hashingService/>
  </Xtensive.Orm.Security.WithoutName>
  <Xtensive.Orm.Security.Empty>
  </Xtensive.Orm.Security.Empty>
  <Xtensive.Orm.Security.AllDeclared>
    <hashingService name="sha1" />
    <authenticationService name="notdefault" />
  </Xtensive.Orm.Security.AllDeclared>
  <Xtensive.Orm.Security>
    <hashingService name="sha1"/>
  </Xtensive.Orm.Security>
  
  
</configuration>