<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- No elements, all names should be default-->
  <Xtensive.Orm.Security.Xml.Empty>
  </Xtensive.Orm.Security.Xml.Empty>

  <!--Names are empty, all names should be default-->
  <Xtensive.Orm.Security.Xml.AllEmpty>
    <HashingService></HashingService>
    <AuthenticationService></AuthenticationService>
  </Xtensive.Orm.Security.Xml.AllEmpty>

  <!-- Only hashing name set, auth should be default -->
  <Xtensive.Orm.Security.Xml.OnlyHashing.Sha1>
    <HashingService>sha1</HashingService>
  </Xtensive.Orm.Security.Xml.OnlyHashing.Sha1>
  <Xtensive.Orm.Security.Xml.OnlyHashing.Sha256>
    <HashingService>sha256</HashingService>
  </Xtensive.Orm.Security.Xml.OnlyHashing.Sha256>
  <Xtensive.Orm.Security.Xml.OnlyHashing.Sha384>
    <HashingService>sha384</HashingService>
  </Xtensive.Orm.Security.Xml.OnlyHashing.Sha384>
  <Xtensive.Orm.Security.Xml.OnlyHashing.Sha512>
    <HashingService>sha512</HashingService>
  </Xtensive.Orm.Security.Xml.OnlyHashing.Sha512>
  <Xtensive.Orm.Security.Xml.OnlyHashing.Md5>
    <HashingService>md5</HashingService>
  </Xtensive.Orm.Security.Xml.OnlyHashing.Md5>
  <Xtensive.Orm.Security.Xml.OnlyHashing.Empty>
    <HashingService></HashingService>
  </Xtensive.Orm.Security.Xml.OnlyHashing.Empty>

  <!-- Only auth service name set, hashing name should be default -->
  <Xtensive.Orm.Security.Xml.OnlyAuth>
    <AuthenticationService>NotDefault</AuthenticationService>
  </Xtensive.Orm.Security.Xml.OnlyAuth>

  <!-- Auth is empty and hashing doesn't exist, all should be default -->
  <Xtensive.Orm.Security.Xml.OnlyAuth.Empty>
    <AuthenticationService></AuthenticationService>
  </Xtensive.Orm.Security.Xml.OnlyAuth.Empty>

  <!-- Different namings schemes of elements -->
  <!-- LC - lower case -->
  <!-- UC - upper case -->
  <!-- CC - camel case -->
  <!-- PC - pascal case-->
  <Xtensive.Orm.Security.Xml.Naming.LC>
    <hashingservice>sha1</hashingservice>
    <authenticationservice>NotDefault</authenticationservice>
  </Xtensive.Orm.Security.Xml.Naming.LC>

  <Xtensive.Orm.Security.Xml.Naming.UC>
    <HASHINGSERVICE>sha1</HASHINGSERVICE>
    <AUTHENTICATIONSERVICE>NotDefault</AUTHENTICATIONSERVICE>
  </Xtensive.Orm.Security.Xml.Naming.UC>

  <Xtensive.Orm.Security.Xml.Naming.CC>
    <hashingService>sha1</hashingService>
    <authenticationService>NotDefault</authenticationService>
  </Xtensive.Orm.Security.Xml.Naming.CC>

  <Xtensive.Orm.Security.Xml.Naming.PC>
    <HashingService>sha1</HashingService>
    <AuthenticationService>NotDefault</AuthenticationService>
  </Xtensive.Orm.Security.Xml.Naming.PC>

  <!-- Cases of mistyping of element names -->
  <!-- LC - lower case -->
  <!-- UC - upper case -->
  <!-- CC - camel case -->
  <!-- PC - pascal case-->
  <Xtensive.Orm.Security.Xml.Mistype.LC>
    <hashiingservice>sha1</hashiingservice>
    <authentticationservice>NotDefault</authentticationservice>
  </Xtensive.Orm.Security.Xml.Mistype.LC>

  <Xtensive.Orm.Security.Xml.Mistype.UC>
    <HASHIINGSERVICE>sha1</HASHIINGSERVICE>
    <AUTHENTTICATIONSERVICE>NotDefault</AUTHENTTICATIONSERVICE>
  </Xtensive.Orm.Security.Xml.Mistype.UC>

  <Xtensive.Orm.Security.Xml.Mistype.CC>
    <hashiingService>sha1</hashiingService>
    <authentticationService>NotDefault</authentticationService>
  </Xtensive.Orm.Security.Xml.Mistype.CC>

  <Xtensive.Orm.Security.Xml.Mistype.PC>
    <HashiingService>sha1</HashiingService>
    <AuthentticationService>NotDefault</AuthentticationService>
  </Xtensive.Orm.Security.Xml.Mistype.PC>

  <!-- Cases of configuration when service name is represented by Name child node -->
  <Xtensive.Orm.Security.Xml.NameNode.NamesEmpty>
    <HashingService>
      <Name></Name>
    </HashingService>
    <AuthenticationService>
      <Name></Name>
    </AuthenticationService>
  </Xtensive.Orm.Security.Xml.NameNode.NamesEmpty>

  <Xtensive.Orm.Security.Xml.NameNode.OnlyHashing.Sha1>
    <HashingService>
      <Name>sha1</Name>
    </HashingService>
  </Xtensive.Orm.Security.Xml.NameNode.OnlyHashing.Sha1>
  <Xtensive.Orm.Security.Xml.NameNode.OnlyHashing.Sha256>
    <HashingService>
      <Name>sha256</Name>
    </HashingService>
  </Xtensive.Orm.Security.Xml.NameNode.OnlyHashing.Sha256>
  <Xtensive.Orm.Security.Xml.NameNode.OnlyHashing.Sha384>
    <HashingService>
      <Name>sha384</Name>
    </HashingService>
  </Xtensive.Orm.Security.Xml.NameNode.OnlyHashing.Sha384>
  <Xtensive.Orm.Security.Xml.NameNode.OnlyHashing.Sha512>
    <HashingService>
      <Name>sha512</Name>
    </HashingService>
  </Xtensive.Orm.Security.Xml.NameNode.OnlyHashing.Sha512>
  <Xtensive.Orm.Security.Xml.NameNode.OnlyHashing.Md5>
    <HashingService>
      <Name>md5</Name>
    </HashingService>
  </Xtensive.Orm.Security.Xml.NameNode.OnlyHashing.Md5>
  <Xtensive.Orm.Security.Xml.NameNode.OnlyHashing.Empty>
    <HashingService>
      <Name></Name>
    </HashingService>
  </Xtensive.Orm.Security.Xml.NameNode.OnlyHashing.Empty>

  <Xtensive.Orm.Security.Xml.NameNode.OnlyAuth>
    <AuthenticationService>
      <Name>NotDefault</Name>
    </AuthenticationService>
  </Xtensive.Orm.Security.Xml.NameNode.OnlyAuth>
  <Xtensive.Orm.Security.Xml.NameNode.OnlyAuth.Empty>
    <AuthenticationService>
      <Name></Name>
    </AuthenticationService>
  </Xtensive.Orm.Security.Xml.NameNode.OnlyAuth.Empty>

  <Xtensive.Orm.Security.Xml.NameNode.Naming.LC>
    <HashingService>
      <name>sha1</name>
    </HashingService>
    <AuthenticationService>
      <name>NotDefault</name>
    </AuthenticationService>
  </Xtensive.Orm.Security.Xml.NameNode.Naming.LC>

  <Xtensive.Orm.Security.Xml.NameNode.Naming.UC>
    <HashingService>
      <NAME>sha1</NAME>
    </HashingService>
    <AuthenticationService>
      <NAME>NotDefault</NAME>
    </AuthenticationService>
  </Xtensive.Orm.Security.Xml.NameNode.Naming.UC>

  <Xtensive.Orm.Security.Xml.NameNode.Naming.CC>
    <HashingService>
      <naMe>sha1</naMe>
    </HashingService>
    <AuthenticationService>
      <naMe>NotDefault</naMe>
    </AuthenticationService>
  </Xtensive.Orm.Security.Xml.NameNode.Naming.CC>

  <Xtensive.Orm.Security.Xml.NameNode.Naming.PC>
    <HashingService>
      <NaMe>sha1</NaMe>
    </HashingService>
    <AuthenticationService>
      <NaMe>NotDefault</NaMe>
    </AuthenticationService>
  </Xtensive.Orm.Security.Xml.NameNode.Naming.PC>
  
  
  <!-- combinations of Xml-specifit cases, mostly old-fashion attributes -->
  <Xtensive.Orm.Security.NameAttribute.NamesEmpty>
    <hashingService name="" />
    <authenticationService name="" />
  </Xtensive.Orm.Security.NameAttribute.NamesEmpty>

  <Xtensive.Orm.Security.NameAttribute.NameExistPartially1>
    <hashingService name="" />
    <authenticationService />
  </Xtensive.Orm.Security.NameAttribute.NameExistPartially1>

  <Xtensive.Orm.Security.NameAttribute.NameExistPartially2>
    <hashingService />
    <authenticationService name="" />
  </Xtensive.Orm.Security.NameAttribute.NameExistPartially2>

  <Xtensive.Orm.Security.NameAttribute.AllNames>
    <hashingService name="sha1" />
    <authenticationService name="NotDefault" />
  </Xtensive.Orm.Security.NameAttribute.AllNames>

  <Xtensive.Orm.Security.NameAttribute.OnlyHashing>
    <hashingService name="sha1" />
  </Xtensive.Orm.Security.NameAttribute.OnlyHashing>

  <Xtensive.Orm.Security.NameAttribute.OnlyAuth>
    <authenticationService name="NotDefault" />
  </Xtensive.Orm.Security.NameAttribute.OnlyAuth>

  <Xtensive.Orm.Security.NameAttribute.LC>
    <hashingservice name="sha1" />
    <authenticationservice name="NotDefault" />
  </Xtensive.Orm.Security.NameAttribute.LC>

  <Xtensive.Orm.Security.NameAttribute.UC>
    <HASHINGSERVICE name="sha1" />
    <AUTHENTICATIONSERVICE name="NotDefault" />
  </Xtensive.Orm.Security.NameAttribute.UC>

  <Xtensive.Orm.Security.NameAttribute.PC>
    <HashingService name="sha1" />
    <AuthenticationService name="NotDefault" />
  </Xtensive.Orm.Security.NameAttribute.PC>
</configuration>